/*TITULO Y BOTON*/

#tituloYAgregar{
    background-color: rgba(0, 0, 0, 0.562);
    padding: 6px;
    position: fixed;
    width: 1242px;

}


#tituloP{
    font-size: 28px;
    display:inline-block; 
    color: rgb(255, 255, 255);
}

#btnAbrirModal{
    color: rgb(255, 255, 255);
    float: right;
   
}

#btnAbrirModal:hover{
    cursor: pointer;
    color: rgb(0, 179, 255);
   
}


/* FIN TITULO Y BOTON*/

/*INICIO TABLA*/

#tablaCursos{
    margin: auto;
    margin-top: 60px;
}



#tablaCursos  tr:nth-child(even) {
    background-color: rgb(165, 134, 109);
}
#tablaCursos tr:nth-child(odd) {
    background-color: rgb(125, 101, 82);
}
#tablaCursos th {
    color: white;
    background-color: rgb(199, 72, 28);
}
#tablaCursos tr {
    font-weight: 500;
}

table,th,td  {
    border-collapse: collapse;
    padding: 5px;
    padding-left: 10px;
    text-align: center;
}

.colEdit{
    width: 52px;
}

.colNombre{
    width: 170px;
}

.colDescri{
    width: 400px;
}

/*FIN TABLA*/


/*inicio formulario*/
#registarContainer{
    height: 355px;
    /* height: auto; */
    width: 300px;
    background: rgb(97, 86, 63);
    border: 7px solid #3e2816;
    border-radius: 10px;
    position: fixed;
    margin-left: 724px;
    top: 80px;
    font-weight: 600;
    text-align: center;
}


#registarContainer span{
    font-size: 24px;
    margin-top: 10px;
    display: inline-block;

}




#formCurso{
    /* border:2px solid red; */
    margin:10px;
    margin-bottom: 0px;
}

#formTitulo{
    margin-left: -10px;
}

#formCurso div{
    margin-bottom: 10px;
}


#formCurso input{
    width: 396px;
}


#formCurso label{
    display: block;
    padding: 2px;
}

.formImagen{
    height: 100px;
    width: 100px;
    padding-left: 90px;
}

.formImagen img{
    height: 100%;
    width: 100%;
}


#formCurso .formImagen input{
    width: 185px;
    background: rgba(6, 175, 185, 0.34);

}


#formCurso .inputCorto{
    width: 180px;
}

#formCurso .idCurso{
    width: 100px;
}

#formCurso .divCorto{
    display: inline-block;
    margin-right: 27px;
}
/*Fin Formulario*/

/*INICIO BOTONES*/
#botones{
    padding-left: 30px;
}



.btnFormulario{
    border:1px solid black;
    border-radius: 5px;
    background: rgb(126, 45, 18);
    padding: 8px;
    width: 90px;
    font-weight: bold;
    margin-right:20px;
}

.btnFormulario:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px  black;
    color:rgb(161, 161, 161);
}


.botonDeshabilitar {
    color: black;
    background: red;
    padding: 5px;
    border-radius: 5px;
}

.botonEditar {
    color: black;
    background: #3498db;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.botonDeshabilitar:hover{
    opacity: 0.5;
    cursor: pointer;
}
.botonEditar:hover{
    opacity: 0.5;
    cursor: pointer;
}

/*FIN BOTONES*/


/*cards listar*/

/* DivPrincipal, este esta creado en HTML a mano, es donde guarda todos los cards */
#tablaContainer{
    height: 900px;
    overflow: auto;
    margin-bottom: 10px;
    padding-left: 65px;
    display: table;
    margin: auto;
}

#tablaCursos a{
    color:black;
 }

 #tablaCursos a:hover{
    color:#fffff1;
 }
/* esta clase se utiliza en el div que guarda el card como tal */
.cardsHome{
    width: 250px;
    /* height: auto; */
    height: 300px;
    background-color:rgb(123, 213, 6);
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin: 50px;
    overflow: hidden;
}

/* da estilo al header del card */
.cardsHome h3{
    font-size: 22px;
    margin-top: 10px;

}
/* este es el div donde guarda la imagen, en el caso que se coloque in Icon de fontAwsome le pone color  */
.cardsHome .imagenCard{
    color:rgb(0, 120, 218);
    height: 130px;
    width: 200px;
    margin: auto;
}

/* este indica que cualquier imagen que este dentro del div de imagen mencionado anterior sea del tama;o correcto */
.cardsHome .imagenCard img{
    height: 100%;
    width: 100%;
}

/* este es el estilo para todos los elementos SPAN, por ejemplo seria la informacion, el nombre, apellido, y asi... */
.cardsHome  span{
    text-align: left;
    padding-left: 10px;
    display: block;
    padding-top: 10px;
}
/* efecto hover */
.cardsHome:hover{
    cursor:pointer;
    background-color:rgb(140, 248, 0);
}



/*fin cards listar*/





/*MODAL*/   
#modal{
    animation-name: ingresar;
    animation-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0.37);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}


/* .mostrarRegistro{
    display: block;

} */

.ocultarRegistro{
    display: none;
}

@keyframes ingresar {
    from {opacity: 0} 
    to {opacity: 1}
}

/*Modal*/


/*clases*/
.warning{
    color:red;
    border:1px solid red;
}