/*cambios propios del Header*/

header nav a{
    padding: 17px;
}
/*cambios propios del Header*/



/*TITULO Y BOTON*/



#tituloYAgregar{
    background-color: rgba(0, 0, 0, 0.562);
    padding: 6px;
    position: fixed;
    width: 1254px;

}

#tituloP{
    font-size: 28px;
    display:inline-block; 
    color: rgb(255, 255, 255);
}

#btnAbrirModal{
    color: rgb(255, 255, 255);
    float: right;
   
}

#btnAbrirModal:hover{
    cursor: pointer;
    color: rgb(0, 179, 255);
   
}

/* FIN TITULO Y BOTON*/





/*inicio formulario*/
.formulario{
    padding-left: 50px;
}


#formInstitucion{
    /* border:2px solid red; */
    
    padding-left: 14px;
}

#formTitulo{
    margin-left: -10px;
    font-weight: 600;
    display: inline-block;
    padding-top: 10px;
    font-size: 20px;
}

/* #formInstitucion div{
    margin-bottom: 10px;
} */


#formInstitucion input,select{
    width: 396px;
    height: 18px;
}


#formInstitucion label{
    display: block;
    padding: 2px;
}

.formImagen{
    height: 150px;
    position: relative;
    top: -70px;
    left: 0px;
    margin-top: 80px;
}

.formImagen label{
      display: block;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: -25px;
    font-size: 20px;

}


#formInstitucion .formImagen input{
    width: 185px;
    background: rgba(6, 175, 185, 0.34);

}


#formInstitucion .inputCorto{
    width: 180px;
}

#formInstitucion .divCorto{
    display: inline-block;
    padding-right: 22px;
}
/*Fin Formulario*/

/*INICIO BOTONES*/
#botones{
    padding-left: 74px;
}



.btnFormulario{
    border:1px solid black;
    border-radius: 5px;
    background: rgb(5, 135, 137);
    padding: 8px;
    width: 120px;
    font-weight: bold;
    margin-right:60px;
}

.btnFormulario:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px  black;
    color:rgb(0, 138, 192);
}


.botonDeshabilitar {
    color: black;
    background: red;
    padding: 5px;
    border-radius: 5px;
}

.botonEditar {
    color: black;
    background: #3498db;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

#formInstitucion .botonDeshabilitar:hover{
    opacity: 0.5;
    cursor: pointer;
}
#formInstitucion .botonEditar:hover{
    opacity: 0.5;
    cursor: pointer;
}
.btnModDes{
    display: inline-block;
    margin-right: 5px;
}
/*FIN BOTONES*/


/*cards listar*/

/* DivPrincipal, este esta creado en HTML a mano, es donde guarda todos los cards */
#cardsInstitucion{


    margin-bottom: 10px;
    padding-left: 65px;
}
/* esta clase se utiliza en el div que guarda el card como tal */
.cardsHome{
    width: 250px;
    /* height: auto; */
    height: 330px;
    background-color: rgb(191, 124, 100);
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin: 50px;
    overflow: hidden;
    padding: 10px;
}


/* da estilo al header del card */
.cardsHome h3{
    font-size: 22px;
    margin-top: 10px;
    padding-bottom: 5px;

}
/* este es el div donde guarda la imagen, en el caso que se coloque in Icon de fontAwsome le pone color  */
.cardsHome .imagenCard{
    color:rgb(0, 120, 218);
    height: 130px;
    width: 200px;
    margin: auto;
}

/* este indica que cualquier imagen que este dentro del div de imagen mencionado anterior sea del tama;o correcto */
.cardsHome .imagenCard img{
    height: 100%;
    width: 100%;
}

/* este es el estilo para todos los elementos SPAN, por ejemplo seria la informacion, el nombre, apellido, y asi... */
.cardsHome  span{
    text-align: left;
    padding-left: 10px;
    display: block;
    padding-top: 10px;
}
/* efecto hover */
.cardsHome:hover{
    cursor:pointer;
    background-color:rgb(227, 167, 47);
}



/*fin cards listar*/





/*MODAL*/   
#modal{
    animation-name: ingresar;
    animation-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0.37);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}


.mostrarRegistro{
    display: block;

}

.ocultar{
    display: none;
}

@keyframes ingresar {
    from {opacity: 0} 
    to {opacity: 1}
}

/*Modal*/

/*Aviso*/

#confirmar{
    animation-name: ingresar;
    animation-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0.37);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}   

.content{
    background: rgb(194, 245, 128);
    /* border:2px solid red;  */
    border-radius: 10px;
    position: fixed;
    margin-left: 600px;
    top: 200px;
    padding: 50px;
}

/*fin aviso*/


/*clases*/
.warning{
    color:red;
    border:2px solid red;
}
.warning:hover{
    color:red;
    border:1px solid red;
}


.main .formulario div{
    padding: 5px;
}

#map{
    padding: 100px;
    margin-top: 60px;
    margin-bottom: 50px;
    background: rgb(222, 200, 159);
    width: 400px;
    height: 340px;
}

.salto{
    margin-right: 85px;
}

.contacto span{
    margin-left: -10px;
    font-weight: 600;
    display: inline-block;
    padding-top: 10px;
    font-size: 20px;
}


#msj{
    animation-name: ingresar;
    animation-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0.37);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;


}

.confirmacion{
    top: 260px;
    left: 615px;
    position: fixed;
    width: 400px;
    border: 6px solid rgb(51, 39, 29);
    padding: 26px;
    align-content: center;
    font-size: 24px;
    font-weight: 500;
    background: rgb(5, 135, 137);
    border-radius: 10px;
   
}

.confirmacion span{
    display: block;
    width: 600px;
}


.OK{
    color: rgb(1, 18, 19);
    background: rgb(143, 136, 122);
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    width: 90px;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 150px;
    display: inline-block;
}

.OK:hover{
    cursor: pointer;
    background: rgb(82, 77, 69);
}
.confirmacion .NO{
    color: rgb(1, 18, 19);
    background: rgb(143, 136, 122);
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    width: 90px;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 20px;
    display: inline-block;
}

.confirmacion .NO:hover{
    cursor: pointer;
    background: rgb(82, 77, 69);
}


#filtro{
    width: 330px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    transition: width 0.4s ease-in-out;
    padding: 4px;
    vertical-align: super;
    margin-left: 5px;
}

#filtro:focus{
    width: 330px;
    font-size: 18px;
    vertical-align: top;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.search{
    margin-top: 3px;
    display: inline-block;
    margin-left: 490px;
}

.search span{
    color: white;
    padding-top: 3px;
    font-size: 14px;

}

.btnSeleccionarImagen{
    background: rgb(51, 141, 177);
    border: 2px solid #34495e;
    border-radius: 5px; 
    color: #fff;
    padding: 5px 5px;
  }
  
.btnSeleccionarImagen:hover{
    background: #4d6379;
    cursor: pointer;
  }

.fotoContainer{
    margin-top: 7px;
    height: 220px;
    width: 400px;
    background: rgb(222, 200, 159);
}

.fotoContainer img{
    height: 100%;
    width: 100%;
}