/*Inicio del main de Proveedor */
#tituloYAgregar{
    background-color: rgba(0, 0, 0, 0.562);
    padding: 6px;
    width: 1100px;}

    #tituloP{
        font-size: 25px;
        display:inline-block; 
        color: rgb(255, 255, 255);}

    #tituloYAgregar span {
         font-size: 20px;}



#btnAgregar{
    color: rgb(255, 255, 255);
    float: right;
    font-size: 20px;}

  #btnAgregar:hover{
    cursor: pointer;
    color: rgb(0, 179, 255);}

#txtFiltro, label{
    text-align: left;

margin-left: 60px;
}


.rProveedor{
   /* display: none;  lo esconde por defecto */
   
    width: 100%;
    height: 100%; 
 
   
}
.titulo{
    font-size: 22px;
    text-align: left;
    margin-top: 20px;
}
.rProveedor-content{
         margin-left: 40px;

           }
   .rProveedor-content h2{
     font-size: 20px;
     text-align: left;
     margin-top: 10px;
     margin-left: 20px;
 
        }
   .rProveedor-content .inputs input {
        margin-top: 20px;
        margin-bottom: 20px;
          }
  .rProveedor-content .inputs input {
      margin-top: 20px;
         }
         
#seprovedor{
    text-align: left;
}
.selectimage{
    float: right;
}
.selectimage img{
    text-align: right;
 
}
.sub{
    font-size: 20px;
    margin-left: 70px;

}
.inputs{
    float: left;
    margin-top: 40px;
    text-align: left;
}

.inputs input{
    margin-top: 10px;
}

.rProveedor-content input{
    display: block;
    margin-right:  40px;
    text-align: right;
}
.Descripción{
    text-align: left;
}
.Descripción textarea  {
      height: 60px;
}
.checkbox{
    display: block;
    margin-top: 38px;
    float:right;

}
.checkbox input {
      margin-top: 16px;
}
.categorias{
    display: block;
    float: right;
    margin-top: 44px;
}
.categorias h3{
    margin-top: 12px;
}

/*boton span*/
.btnCerrar{
  color: #aaa; 
 
     text-align: right;
    padding-left: 40px;
    color: #fff;
    background:rgb(5, 135, 137);
    border-radius: 5px;
    padding: 5px 16px 6px;
    display:inline-block;
   float:left;
   

}
.btnCerrar:hover,
btnCerrar:focus {
    color: black;
  
    cursor: pointer;
}
.btnAbrir{
      display: block;
   
  margin-top: 65px;
    text-align: center;
  margin-right: 25px;
   

    color: #fff;
    background:rgb(5, 135, 137);
    border-radius: 5px;
    padding: 5px 16px 6px;
 
}
.btnAbrir:hover{
color: black;
  
    cursor: pointer;
}
.btnañadir:hover
,.btnAbrir:focus{
    color: black;
  
    cursor: pointer;
}
/* Botones de editar y deshabilitar*/
.botonEditar{
    color:#fff;
    background:#2980b9;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.botonDeshabilitar{

        color:#fff;
    background: #c0392b;
    padding: 5px;
    border-radius: 5px;
    
}

.botonEditar:hover, .botonDeshabilitar:hover{
    cursor: pointer;
}
.botonEditar:hover{
    background:#3498db; 
}
.botonDeshabilitar:hover{
    background:#e74c3c;
}
.ocultar{
    display: none;
}

.modal{
    animation-name: seleccione;
    animation-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0.37);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;} 
     
    @keyframes seleccione {
        from {opacity: 0} 
        to {opacity: 1}}

    .modal-containeer{
        text-align: center;
        top: 260px;
        left: 615px;
        position: fixed;
        width: 300px;
        border: 6px solid rgb(51, 39, 29);
        padding: 26px;
        align-content: center;
        font-size: 24px;
        font-weight: 500;
        background: rgba(134, 47, 16, 0.77);
        border-radius: 10px;}

    #btnAceptar{
      color: rgb(1, 18, 19);
      background: rgb(143, 136, 122);
      border-radius: 5px;
      border: 0px;
      padding: 10px;
     width: 90px;
     font-weight: 800;
     margin-top: 30px;
    display: inline-block; }

       #btnAceptar:hover{
        cursor: pointer;
        background: rgb(82, 77, 69);
        color: #fff;}


#btndeshabilitar{
    color: rgb(1, 18, 19);
    background:white;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
   width: 90px;
   font-weight: 800;
   margin-top: 30px;
  display: inline-block;}

        #btndeshabilitar:hover{
            cursor: pointer;
            color: rgb(187, 72, 43);}
        
           
           
#btnCancelar{
    color: rgb(1, 18, 19);
    background: rgb(143, 136, 122);
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    width: 90px;
    font-weight: 800;
    margin-top: 30px;
    display: inline-block; }
          
     #btnCancelar:hover{
     cursor: pointer;
     background: rgb(82, 77, 69);
    color: #fff;}
   
/**/

/*Inicio tabla provedores generales*/
#tblProveedores{
    margin: auto;
    margin-top: 30px;}



#tblProveedores  tr:nth-child(even) {
    background-color: rgb(165, 134, 109);
}
#tblProveedores tr:nth-child(odd) {
   /* background-color: rgb(125, 101, 82);*/
}
#tblProveedores th {
    color: black;
    background-color: rgba(0, 0, 0, 0.562);
    /* border: 1px solid black;
    border-bottom: 0px; */
    color: #fff;
    border-right: 1px solid black;
    border-left: 1px solid black;
  
}

table,th,td  {
    border-collapse: collapse;
    padding: 15px;
    padding-left: 10px;
    text-align: center;
}

.colcedula{
    width: 100px;
   
}

.colNombre{
    width: 100px;
}

.coltelefono{
    width: 100px;
}

.colCorreo{
    width: 100px;
}
.colEncargado{
    width: 150px;
}
.colCategorias{
   width: 250px;
}
.colEdit{
   width: 100px;
}
/*Fin tabla provedores generales*/

/*clases generales*/
.clearFix{
    clear: both;
}
.ocultarAgregar{
    display: none;
}
.error{
    border: 2px solid #e74c3c
}

/*fin de las clases generales*/


 /*inicia estilos del footer*/
    
    footer{
    
        width: 1200px;
        height: 130px;
        margin-top: 800px;
         
     
    }
    
    #menu {
        width: 400px;
        height:130px;
        float: left;
        background-color:#a9d86b;
        
    }
    
    #menu h2{
        font-size: 20px;
        color: #000;
        background-color: white;
        width: 67px;
        height:23px;
        border-radius: 10px 0px 0px 10px;
        margin-top: 5px;
        margin-left: 16px;
        display: inline-block;
        
    }
    
    #menu h3{
        font-size: 20px;
        color: white;
        background-color: #000;
        width: 56px;
        height:23px;
        border-radius: 0px 10px 10px 0px;
        display: inline-block;  
    
    }

    #menu nav a{
        display: block;
        padding-top: 5px;
        border:none;
        text-decoration: none;
        padding-left: 30px;
        color:Black;
        display: inline-block;
    }

    #menu nav a:hover{
        color:rgb(28, 109, 145);
    }
    
    #contactos {
        width:390px;
        height:116px;
        float: left;
        background-color:#c2f580;
        padding-top: 14px;
        padding-left: 10px;
    
    }
    
    #contactenos h1{
        font-size: 14px;
        color: #000;
        width: 350px;
        height:17px;
        padding-top: 10px;
        
        
    }
    
    footer span{
        width: 34px;
        height: 34px;
        display: block;
        padding-top: 5px;
    
    }


    #contactos h1{
        font-size: 22px;
            
    }
    
    
    #contactos h2{
        font-size: 18px;
        width: 240px;
        height:21px;
        float: right;
        padding-top: 5px;
        margin-right: 110px;
            
    }
    
    
    #contactos h3{
        font-size: 18px;
        width: 121px;
        height:21px;
        display: inline;
        
    }
    
    #redes{
        width: 400px;
        height:130px;
        float: left;
        background-color:#a9d86b;
    }
    
    #redes h2{
        font-size: 22px;
        color: #000;
        width: 350px;
        height:17px;
        padding-top: 10px;
        padding-left: 10px;
    
    }
    
    #redes span{
       color: rgb(28, 109, 145);
        margin-left: 70px;
       padding-top: 25px;
    }
 
/* clases generales*/
.clearFix{
    clear: both;
}