#txtFiltro, label{
    text-align: left;
   float: left;
margin-top: 40px;
margin-left: 60px;
}

#btnAgregar  {
       text-align: right;
    float: right;
}
.rProveedor{
    display: none; /* lo esconde por defecto */
    position: fixed;
    z-index: ; 
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%; 
    overflow: auto; /* Habilite desplazamiento si es necesario
 */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
.titulo{
    font-size: 22px;
}




.rProveedor-content{
  background: rgb(194, 245, 128);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 500px; 
    height: 418px;

}
.rProveedor-content h2{
     font-size: 20px;
     text-align: left;
     margin-top: 10px;
     margin-left: 20px;

}
#seprovedor{
    text-align: left;
}
.selectimage{
    float: right;
}
.selectimage img{
    text-align: right;
 
}
.sub{
    font-size: 20px;
    margin-left: 70px;

}
.inputs{
    float: left;
    margin-top: 40px;
    text-align: left;
}

.inputs input{
    margin-top: 10px;
}

.rProveedor-content input{
    display: block;
    margin-right:  40px;
    text-align: right;
}
.Descripción{
    text-align: left;
}
.Descripción textarea  {
      height: 60px;
}
.checkbox{
    display: block;
    margin-top: 38px;
    float:right;

}
.checkbox input {
      margin-top: 16px;
}
.categorias{
    display: block;
    float: right;
    margin-top: 43px;
}
.categorias h3{
    margin-top: 12px;
}

/*boton span*/
.btnCerrar{
  color: #aaa; 
 
     text-align: right;
    padding-left: 40px;
    color: #fff;
  background: rgb(140, 248, 0);
    border-radius: 5px;
    padding: 5px 16px 6px;
    display:inline-block;
   float: left;
   

}
.btnCerrar:hover,
   btnCerrar:focus {
    color: black;
  
    cursor: pointer;
}
.btnAbrir{
      display: block;
   
  margin-top: 65px;
    text-align: center;
  margin-right: 25px;
   

    color: #fff;
 background: rgb(140, 248, 0);
    border-radius: 5px;
    padding: 5px 16px 6px;
 
}
.btnAbrir:hover{
color: black;
  
    cursor: pointer;
}
.btnañadir:hover
,.btnAbrir:focus{
    color: black;
  
    cursor: pointer;
}
/* Botones de editar y deshabilitar*/
.botonEditar{
    color:#fff;
    background:#2980b9;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.botonDeshabilitar{

        color:#fff;
    background: #c0392b;
    padding: 5px;
    border-radius: 5px;
    
}

.botonEditar:hover, .botonDeshabilitar:hover{
    cursor: pointer;
}
.botonEditar:hover{
    background:#3498db; 
}
.botonDeshabilitar:hover{
    background:#e74c3c;
}
/**/

/*Inicio tabla provedores generales*/
#tblProveedores{
    margin: auto;
    margin-top: 30px;
}



#tblProveedores  tr:nth-child(even) {
    background-color: rgb(140, 248, 0);
}
#tblProveedores tr:nth-child(odd) {
    background-color: rgb(140, 248, 0);
}
#tblProveedores th {
    color: black;
    background-color: rgb(140, 248, 0);
    /* border: 1px solid black;
    border-bottom: 0px; */
    border-right: 1px solid black;
    border-left: 1px solid black;
  
}

table,th,td  {
    border-collapse: collapse;
    padding: 15px;
    padding-left: 10px;
    text-align: center;
}

.colcedula{
    width: 100px;
   
}

.colNombre{
    width: 100px;
}

.coltelefono{
    width: 100px;
}

.colCorreo{
    width: 100px;
}
.colEncargado{
    width: 150px;
}
.colCategorias{
   width: 250px;
}
.colEdit{
   width: 100px;
}
/*Fin tabla provedores generales*/

/*clases generales*/
.clearFix{
    clear: both;
}
.ocultarAgregar{
    display: none;
}
.error{
    border: 2px solid #e74c3c
}
