


/*inicia estilos del header
header{
    
        width: 1200px;
        height: 150px;
        background-color: rgb(123, 213, 6);
    
    }
    
    
    header img{
        height: 140px;

    }
    
    header nav{
        margin-top: 105px;
        float: right;
        }
    
    header nav a{
    
        font-size: 22px;
        color: #000;
        border:none;
        text-decoration: none;
        text-align: center;
        padding:20px;
    }
        
    header nav a:hover{
        
            color: rgb(28, 109, 145);
        
        }*/
    
    /*fin de estilos del header*/


/* inicio de estilos del main*/
  main{
    
        width: 1200px;
        height: 920px;
        margin: 5px;
    
    }


/*estilos de validacion */

input{

	outline: none;
}	

select{
	outline: none;
}


.bordeError{
	border: 2px solid #e74c3c;

}

#mensajeA{
	
	height: 25px;
}
.ocultar{
	visibility: hidden;
}

.divError{
	background:#e74c3c;
}
.divCorrecto{

	background: #2ecc71;
}	

.imagen-formulario{
    max-width:200px;
    max-height: 100px; 
    margin-top: 40px;
    }

/* fin de estilos de validacion */
#regis input{
	margin-bottom: 15px;
	width: 400px;
}

    #regis h2{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;}

    #regis label{
        margin-bottom: 15px;
        width: 400px;
        margin-left: 20px;}

            

.nuevodirector label{
        margin-left: 20px;
    
        font-size: 16px;
        display: block;
    }

#primera-Parte input{
margin-left: 20px;
}

#nombreUno {
    display: block;
    float: left;
    width: 250px;
     }
    
    #nombreUno label {

    width: 150px;
     }

    #nombreUno input{
    width: 185px;
    }



#nombreDos {
    display: block;
    float: left;
    width: 250px;
    margin-right: 20px;
}

    #nombreDos label{
    width: 150px;

    }


    #nombreDos input{
        width: 185px;
    }

#apellidoUno {
    display: block;
    float: left;
    width: 250px;
}

    #apellidoUno label {
        width: 150px;
        
    }
    
        
    #apellidoUno input{
        width: 185px;
    }


#apellidoDos {
    display: block;
    float: left;
    width: 250px;

}

#apellidoDos label{
    width: 150px;

}


#apellidoDos input{
width: 185px;

}




#gender {
    margin-bottom: 10px;

}

#gender input{
    width: 50px;
    
}



#picture label{
    margin-right: 20px;
    
}

#picture input{
    margin-bottom: 15px;

}


#institucion input{
   margin-left: 20px;
   width: 400px;

}

    #institucion select{
        margin-left: 20px;
        width: 400px;       
    }

#txtFechaNacimiento{
    margin-left: 20px;    
}  
#txtTelefono{
    margin-left: 20px;    
    
}
#txtCorreo{
    margin-left: 20px;        
}
#cole{
    width: 500px;
}

#cole select {
    width: 150px;
    margin-bottom: 20px;
}

#grado {
    width: 150px;
    float: left;
}

#grupo {
    float: left;

}

#txtFechaNacimiento{
    margin-left: 20px;    
}  
#txtTelefono{
    margin-left: 20px;    
    
}
#txtCorreo{
    margin-left: 20px;        
}

/*.
#nombreUno {
    display: block;
    
    width: 250px;
}

#nombreUno label {
    width: 150px;
    
}



#nombreUno input{
    width: 185px;
    margin-left: 100px;
}



#nombreDos {
    display: block;
    width: 250px;

}

#nombreDos label{
    width: 150px;

}


#nombreDos input{
width: 185px;
margin-left: 100px;

}



#apellidoUno {
    display: block;
    width: 250px;
}

#apellidoUno label {
    width: 150px;
    
}


#apellidoUno input{
    width: 185px;
    margin-left: 100px;
}


#apellidoDos {
    display: block;
    width: 250px;

}

#apellidoDos label{
    width: 150px;

}


#apellidoDos input{
width: 185px;
margin-left: 100px;

}




#gender {
	margin-bottom: 10px;

}

#gender input{
	width: 50px;
	
}



#picture label{
	margin-left: 100px;
	margin-right: 20px;
	
}

#picture input{
	margin-bottom: 15px;

}


#institucion{

	width: 400px;


}
#cole{
	width: 500px;
}

#cole select {
	width: 150px;
	margin-bottom: 20px;
}

#grado {
	width: 150px;
	float: left;
}

#grupo {
	float: left;

}
*/

.btnFormulario{
    border:1px solid black;
    border-radius: 5px;
    background:rgb(5, 135, 137);
    padding: 8px;
    width: 100px;
    font-weight: bold;
    margin-right:60px;
}

.btnFormulario:hover{
    color: black;
    cursor: pointer;
box-shadow: 1px 1px 1px  black;
color:#fff;
cursor: pointer;
}




#btnRegistrar {
	margin-left: 80px;
	margin-top: 30px;

}
.modal{
animation-name: seleccione;
animation-duration: 0.4s;
background-color: rgba(0, 0, 0, 0.37);
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;} 
    
@keyframes seleccione {
    from {opacity: 0} 
    to {opacity: 1}}

.modal-containeer{
    text-align: center;
    top: 260px;
    left: 615px;
    position: fixed;
    width: 300px;
    border: 6px solid rgb(51, 39, 29);
    padding: 26px;
    align-content: center;
    font-size: 24px;
    font-weight: 500;
    background: rgba(134, 47, 16, 0.77);
    border-radius: 10px;}



        
 
    
.modalfeedback{
    animation-name: seleccione;
    animation-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0.37);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;} 
        
    @keyframes seleccione {
        from {opacity: 0} 
        to {opacity: 1}}

    .modalfeedback-containeer{
        text-align: center;
        top: 260px;
        left: 615px;
        position: fixed;
        width: 300px;
        border: 6px solid white;
        padding: 26px;
        align-content: center;
        font-size: 24px;
        font-weight: 500;
        background:rgb(5, 135, 137);
        border-radius: 10px;}


#btnAceptar{
    color: rgb(1, 18, 19);
    background: rgb(143, 136, 122);
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    width: 90px;
    font-weight: 800;
    margin-top: 30px;
    display: inline-block; }

        #btnAceptar:hover{
        cursor: pointer;
        background: rgb(82, 77, 69);
        color: #fff;}

.ok{
    color: rgb(1, 18, 19);
    background:white;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    width: 90px;
    font-weight: 800;
    margin-top: 30px;  }
    
    .ok:hover{
    cursor: pointer;
    background: rgb(82, 77, 69);
    color: #fff;}        


#btnSeleccionarImagen{
    background:rgb(5, 135, 137);
        border: 2px solid #34495e;
    color: #fff;
    float: right;
    margin-left: 300px; 
    margin-bottom: 20px;
    padding: 5px 5px;}
    
    #btnSeleccionarImagen:hover{
    background: #34495e;
    border: 2px solid #3498db;}

.seleccionar .container{
    margin-left:  300px;
   float: right;
}    
    

/*fin estilos del main*/

/*inicia estilos footer*/

footer{
    
        width: 1200px;
        height: 130px;
         
    
    }
    
    #menu {
        width: 400px;
        height:130px;
        float: left;
        background-color:#a9d86b;
        
    }
    
    #menu h2{
        font-size: 20px;
        color: #000;
        background-color: white;
        width: 67px;
        height:23px;
        border-radius: 10px 0px 0px 10px;
        margin-top: 5px;
        margin-left: 16px;
        display: inline-block;
        
    }
    
    #menu h3{
        font-size: 20px;
        color: white;
        background-color: #000;
        width: 56px;
        height:23px;
        border-radius: 0px 10px 10px 0px;
        display: inline-block;	
    
    }

    #menu nav a{
        display: block;
        padding-top: 5px;
        border:none;
        text-decoration: none;
        padding-left: 30px;
        color:Black;
    }

    #menu nav a:hover{
        color:rgb(28, 109, 145);
    }
    
    #contactos {
        width:390px;
        height:116px;
        float: left;
        background-color:#c2f580;
        padding-top: 14px;
        padding-left: 10px;
    
    }
    
    #contactenos h1{
        font-size: 14px;
        color: #000;
        width: 350px;
        height:17px;
        padding-top: 10px;
        
        
    }
    
    footer span{
        width: 34px;
        height: 34px;
        display: block;
        padding-top: 5px;
    
    }


    #contactos h1{
        font-size: 22px;
            
    }
    
    
    #contactos h2{
        font-size: 18px;
        width: 240px;
        height:21px;
        float: right;
        padding-top: 5px;
        margin-right: 110px;
            
    }
    
    
    #contactos h3{
        font-size: 18px;
        width: 121px;
        height:21px;
        display: inline;
        
    }
    
    #redes{
        width: 400px;
        height:130px;
        float: left;
        background-color:#a9d86b;
    }
    
    #redes h2{
        font-size: 22px;
        color: #000;
        width: 350px;
        height:17px;
        padding-top: 10px;
        padding-left: 10px;
    
    }
    
    #redes span{
       color: rgb(28, 109, 145);
        margin-left: 70px;
       padding-top: 25px;
    }
    
    

    
    /*fin estlilos footer*/ 



/*Inicio: estilos del generales */

.clearFix{
  clear:both;
}
.ocultar{
    display: none;
}
.error{
    border: 2px solid #e74c3c
}
/*Fin: estilos del generales */
